@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
    --bg-majorella: hsl(249, 95%, 63%, 0.05);
    --red-salsa: hsl(357, 94%, 63%, 0.05);
    --bg-chrome: hsl(40, 100%, 50%, 0.05);
    --text-gun: hsl(209, 40%, 14%);
    --weight-semiBold: 600;
    --radius-20: 20px;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
}
body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: sans-serif;
    width: 100%;
    justify-content: center; 
    align-items: center; 
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}

.header.sticky {
    background: var(--bg-color);
}

.logo {
    position: relative;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.navbar {
    position: relative;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    position: relative;
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}




.text-animate {
    position: relative;
    width: 32.8rem;
}

.text-animate h3 {
    font-size: 3.1rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(#081b29);
    background-image: linear-gradient(var(--main-color), var(--main-color));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: 0 0;
}

.show-animate .text-animate h3 {
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s;
}

.text-animate h3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid var(--main-color);
    z-index: -1;
}

.show-animate .text-animate h3::before {
    animation: homeCursorText 6s linear infinite;
    animation-delay: 2s;
}


.heading {
    position: relative;
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

span {
    color: var(--main-color);
}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text,
.footer-iconTop {
    position: relative;
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}

.footer-iconTop a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}

.footer-iconTop a:hover::before {
    width: 100%;
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--text-color);
    transition: .5s;
}

.footer-iconTop a:hover i {
    color: var(--main-color);
}

/* ANIMATION RELOAD AND SCROLL */
.animate {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 98;
}

.logo .animate ,
.navbar .animate,
#menu-icon .animate,
.show-animate .animate {
    animation: showRight 1s ease forwards;
    animation-delay: calc(.3s * var(--i));
}

.animate.scroll {
    transition: 1s ease;
    transition-delay: calc(.3s / var(--i));
    animation: none;
}

section:nth-child(odd) .animate.scroll,
.footer .animate.scroll {
    background: var(--second-bg-color);
}
.hadath.show-animate .animate.scroll,
.footer.show-animate .animate.scroll {
    transition-delay: calc(.3s * var(--i));
    width: 0;
}

.sec-text {
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
    text-align: center;
}


/* KEYFRAMES ANIMATION */
@keyframes homeBgText {
    0%,
    10%,
    100% {
        background-position: -33rem 0;
    }
    65%,
    85% {
        background-position: 0 0;
    }
}

@keyframes homeCursorText {
    0%,
    10%,
    100% {
        width: 0;
    }
    65%,
    78%,
    85% {
        width: 100%;
        opacity: 1;
    }

    75%,
    81% {
        opacity: 0;
    }
}

@keyframes aboutSpinner {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes showRight {
    100% {
        width: 0;
    }
}





/* BREAKPOINTS */



/* Desktop */
@media only screen and (min-width: 1200px) {
    html {
        font-size: 55%;
    }
    .logo {
        position: relative;
        font-size: 2.5rem;
        color: var(--text-color);
        font-weight: 600;
    }

    .navbar a {
        font-size: 1.7rem;
        color: var(--text-color);
        font-weight: 500;
        margin-left: 3.5rem;
        transition: .3s;
        font-size: 18px;
    }
}

@media only screen and (min-width: 1199px) {
    html {
        font-size: 55%;
    }
    .logo {
        position: relative;
        font-size: 2.5rem;
        color: var(--text-color);
        font-weight: 600;
    }

    .navbar a {
        font-size: 1.7rem;
        color: var(--text-color);
        font-weight: 500;
        margin-left: 3.5rem;
        transition: .3s;
        font-size: 18px;
    }
}

/* Laptop */
@media only screen and (min-width: 992px) {
    html {
        font-size: 55%;
    }
    .logo {
        position: relative;
        font-size: 2.5rem;
        color: var(--text-color);
        font-weight: 600;
    }

    .navbar a {
        font-size: 1.7rem;
        color: var(--text-color);
        font-weight: 500;
        margin-left: 3.5rem;
        transition: .3s;
        font-size: 18px;
    }
    .heading {
        font-size: 30px;
        padding: 2.5rem 5%;
    }
}

@media only screen and (max-width: 991px) {
    .header {
        padding: 2rem 4%;
    }

    section {
        padding: 10rem 4% 2rem;
    }

    .footer {
        padding: 2rem 4%;
    }

    .logo {
        position: relative;
        font-size: 2.5rem;
        color: var(--text-color);
        font-weight: 600;
    }

    .navbar a {
        font-size: 1.7rem;
        color: var(--text-color);
        font-weight: 500;
        margin-left: 3.5rem;
        transition: .3s;
        font-size: 18px;
    }
    .heading {
        font-size: 30px;
        padding: 9rem 9%;
    }
}

@media only screen and (max-height: 1200px) and (max-width: 860px) {
    .heading {
        font-size: 30px;
    }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .logo {
        position: relative;
        font-size: 2rem;
        color: var(--text-color);
        font-weight: 600;
    }

    .navbar a {
        font-size: 1rem;
        color: var(--text-color);
        font-weight: 500;
        margin-left: 3.5rem;
        transition: .3s;
        font-size: 18px;
    }
    .heading {
        font-size: 30px;
        padding: 9rem 9%;
    }
}

@media only screen and (max-width: 767px) {
    .header {
        background: var(--bg-color);
    }

    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: var(--second-bg-color);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        z-index: 1;
        transition: .25s ease;
        transition-delay: .25s;
    }
    
    .navbar.active {
        left: 0;
        transition-delay: 0s;
    }
    
    .navbar .active-nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active .active-nav {
        left: 0;
        transition-delay: .25s;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active a {
        transform: translateX(0);
        transition-delay: .25s;
    }
    .logo {
        position: relative;
        font-size: 2.5rem;
        color: var(--text-color);
        font-weight: 600;
    }

    .navbar a {
        font-size: 1.7rem;
        color: var(--text-color);
        font-weight: 500;
        margin-left: 3.5rem;
        transition: .3s;
        font-size: 18px;
    }
}

@media only screen and (max-width: 601px) {
    html{
        font-size: 50%;
    }
    .header{
        padding: 2rem 9%;
    }
    .footer {
        padding: 2rem 9%;
    }
    .footer p {
        margin-top: 2rem;
        text-align: center;
    }
    .logo {
        position: relative;
        font-size: 2rem;
        color: var(--text-color);
        font-weight: 600;
    }
    .navbar a {
        font-size: 1rem;
        color: var(--text-color);
        font-weight: 500;
        margin-left: 3.5rem;
        transition: .3s;
        font-size: 18px;
    }
    .heading {
        font-size: 30px;
    }
}

/* Mobile */
@media only screen and (min-width: 480px) and (max-width: 599px) {
    html {
        font-size: 50%;
    }
    .logo {
        position: relative;
        font-size: 2rem;
        color: var(--text-color);
        font-weight: 600;
    }

    .navbar a {
        font-size: 1rem;
        color: var(--text-color);
        font-weight: 500;
        margin-left: 3.5rem;
        transition: .3s;
        font-size: 18px;
    }

    .heading {
        font-size: 20px;
    }
}


@media only screen and (max-width: 479px) {
    html{
        font-size: 40%;
    }
    .header{
        padding: 2rem 9%;
    }
    .footer {
        padding: 2rem 9%;
    }
    .footer p {
        margin-top: 2rem;
        text-align: center;
    }
    .logo {
        position: relative;
        font-size: 2rem;
        color: var(--text-color);
        font-weight: 600;
    }
    .navbar a {
        font-size: 1rem;
        color: var(--text-color);
        font-weight: 500;
        margin-left: 3.5rem;
        transition: .3s;
        font-size: 18px;
    }
    .heading {
        font-size: 20px;
    }
}

@media only screen and (max-width: 449px) {
    html{
        font-size: 40%;
    }
    .header{
        padding: 2rem 9%;
    }
    .footer {
        padding: 2rem 9%;
    }
    .footer p {
        margin-top: 2rem;
        text-align: center;
    }
    .logo {
        position: relative;
        font-size: 2rem;
        color: var(--text-color);
        font-weight: 600;
    }
    .navbar a {
        font-size: 1rem;
        color: var(--text-color);
        font-weight: 500;
        margin-left: 3.5rem;
        transition: .3s;
        font-size: 18px;
    }
    .heading {
        font-size: 20px;
    }
}


@media only screen and (max-width: 400px) {
    html{
        font-size: 40%;
    }
    .header{
        padding: 2rem 9%;
    }

    .footer {
        padding: 2rem 9%;
    }
    .footer p {
        margin-top: 2rem;
        text-align: center;
    }
    .logo {
        position: relative;
        font-size: 2rem;
        color: var(--text-color);
        font-weight: 600;
    }
    .navbar a {
        font-size: 1rem;
        color: var(--text-color);
        font-weight: 500;
        margin-left: 3.5rem;
        transition: .3s;
        font-size: 18px;
    }
    .heading {
        font-size: 20px;
    }
    .hadath {
        gap: 0;
    }
}


/* Extra Small Mobile */
@media only screen and (max-width: 321px) {
    .logo {
        position: relative;
        font-size: 1.7rem;
        color: var(--text-color);
        font-weight: 600;
    }

    .navbar a {
        font-size: 1rem;
        color: var(--text-color);
        font-weight: 450;
        margin-left: 3.7rem;
        transition: .3s;
        font-size: 15px;
    }

    html{
        font-size: 35%;
    }
    .header{
        padding: 2rem 9%;

    }
    .footer {
        padding: 2rem 9%;
    }
    .footer p {
        margin-top: 2rem;
        text-align: center;
    }
    .logo {
        position: relative;
        font-size: 2rem;
        color: var(--text-color);
        font-weight: 600;
    }
    .navbar a {
        font-size: 1rem;
        color: var(--text-color);
        font-weight: 500;
        margin-left: 3.5rem;
        transition: .3s;
        font-size: 18px;
    }
    .heading {
        font-size: 20px;
        margin-bottom: 0rem;
        padding: 0;
    }
    .hadath{
        gap: 0;
        padding-bottom: 8rem;
    }
}

section {
    height: 70vh;
    padding: 10rem 9% 2rem;
    width: 100%;
}



*{
    padding: 0;
    margin: 0;
    input{
      cursor: pointer;
    }
  }
  @media (min-width: 1464) {
    body {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      overflow-x: hidden;
    }
    .hadath {
        height: 80vh;
    } 
  }
  @media (min-width: 1280px) and (max-width: 1465) {
    body {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      overflow-x: hidden;
    }
    .hadath {
        height: 67vh;
    }  
}

  @media (min-width: 1185px) and (max-width: 1281px) {
    body {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      overflow-x: hidden;
    }
    .hadath {
        height: 68vh;
    }  
  }
  @media (min-width: 983px) and (max-width: 1185px) {
    body {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      overflow-x: hidden;
    }
    .hadath {
        height: 69vh;
    }  
  }
  @media (min-width: 900px) and (max-width: 983px) {
    body {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      overflow-x: hidden;
    }
    .hadath {
        height: 69vh;
    }  
  }
  @media (min-width: 767px) and (max-width: 900px) {
    body {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      overflow-x: hidden;
    }
    .hadath {
        height: 68vh;
    }  
  }
  @media (min-width: 650px) and (max-width: 767px) {
    body {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      overflow-x: hidden;
    }
    .hadath {
        height: 68vh;
    }  
  }
  @media (min-width: 549px) and (max-width: 650px) {
    body {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      overflow-x: hidden;
    }
    .hadath {
        height: 73vh;
    }  
  }
  @media (min-width: 481px) and (max-width: 549px) {
    body {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      overflow-x: hidden;
    }
    .hadath {
        height: 77vh;
    }  
  }
  @media (min-width: 400px) and (max-width: 481px) {
    body {
      width: 100%;
      height: auto;
      overflow-x: hidden;
    }
    .hadath {
        height: 90vh;
    }  
  }
  @media (min-width: 320px) and (max-width: 400px) {
    body {
      width: 100%;
      height: auto;
      overflow-x: hidden;
    }
    .hadath {
        height: 85vh;
    }  
  }
  @media (min-width: 240px) and (max-width: 320px) {
    body {
      width: 100%;
      height: auto;
      overflow-x: hidden;
    }
  }
  @media (max-width: 240px) {
    body {
      width: 100%;
      height: auto;
      overflow-x: hidden;
    }
    .hadath {
        height: 90vh;
    }    
  }

  .hadath {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0rem;
    padding-top: 15rem;
    background: var(--bg-color);
}
.run {
    justify-content: center; 
    align-items: center; 
    width: 100%;
    display: grid;
}
.video-js {
    width: 100%;
    max-width: 600px;
    height: auto;
    justify-items: center;
    align-items: center;
    align-content: center;
    align-self: center;
}
