@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}
:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}

.header.sticky {
    background: var(--bg-color);
}

.logo {
    position: relative;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.navbar {
    position: relative;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
    font-size: 18px;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

.UIbtn {
    display: inline-block;
    width: 11.5rem;
    cursor: pointer;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    background: var(--second-bg-color);
    border: .2rem solid var(--bg-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.UIbtn a {
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    align-items: center;
    text-align: center;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
}

.UIbtn:nth-child(2) {
    background: transparent;
    color: var(--main-color);
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}
    
.UIbtn a::before {
    background: var(--second-bg-color);
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}

#menu-icon {
    position: relative;
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}


section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url('file:///C:/Users/HP/Downloads/th.jfif') no-repeat;
    background-size: cover;
    background-position: center;
}

.login-box {
    position: relative;
    width: 400px;
    height: 450px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
}

h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.input-box {
    position: relative;
    width: 310px;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}


.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    line-height: 57px;
}

.remember-forgot {
    margin: -15px 0 15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    height: 40px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #000;
    font-weight: 500;
}

.register-link {
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

#error-message {
    color: var(--main-color);
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}




/* Desktop */
@media only screen and (min-width: 1200px) {

    .logo {
        position: relative;
        font-size: 2.5rem;
        color: var(--text-color);
        font-weight: 600;
    }

    .navbar a {
        font-size: 1.7rem;
        color: var(--text-color);
        font-weight: 500;
        margin-left: 3.5rem;
        transition: .3s;
        font-size: 18px;
    }

    .login-box {
        position: relative;
        width: 400px;
        height: 450px;
        border: 2px solid rgba(255, 255, 255, .5);
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(15px);
    }
}

@media only screen and (max-width: 1199px) {
    .logo {
        position: relative;
        font-size: 2.5rem;
        color: var(--text-color);
        font-weight: 600;
    }

    .navbar a {
        font-size: 1.7rem;
        color: var(--text-color);
        font-weight: 500;
        margin-left: 3.5rem;
        transition: .3s;
        font-size: 18px;
    }

    .login-box {
        position: relative;
        width: 400px;
        height: 450px;
        border: 2px solid rgba(255, 255, 255, .5);
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(15px);
    }
}

/* Laptop */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .logo {
        position: relative;
        font-size: 2.5rem;
        color: var(--text-color);
        font-weight: 600;
    }

    .navbar a {
        font-size: 1.7rem;
        color: var(--text-color);
        font-weight: 500;
        margin-left: 3.5rem;
        transition: .3s;
        font-size: 18px;
    }

    .login-box {
        position: relative;
        width: 370px;
        height: 420px;
        border: 2px solid rgba(255, 255, 255, .5);
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(15px);
    }
}

@media only screen and (max-width: 991px) {
    .logo {
        position: relative;
        font-size: 2.5rem;
        color: var(--text-color);
        font-weight: 600;
    }

    .navbar a {
        font-size: 1.7rem;
        color: var(--text-color);
        font-weight: 500;
        margin-left: 3.5rem;
        transition: .3s;
        font-size: 18px;
    }

    .login-box {
        position: relative;
        width: 400px;
        height: 450px;
        border: 2px solid rgba(255, 255, 255, .5);
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(15px);
    }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .logo {
        position: relative;
        font-size: 2.5rem;
        color: var(--text-color);
        font-weight: 600;
    }

    .navbar a {
        font-size: 1.7rem;
        color: var(--text-color);
        font-weight: 500;
        margin-left: 3.5rem;
        transition: .3s;
        font-size: 18px;
    }

    .login-box {
        position: relative;
        width: 400px;
        height: 450px;
        border: 2px solid rgba(255, 255, 255, .5);
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(15px);
    }
}

@media only screen and (max-width: 767px) {
    .logo {
        position: relative;
        font-size: 2.5rem;
        color: var(--text-color);
        font-weight: 600;
    }

    .navbar a {
        font-size: 1.7rem;
        color: var(--text-color);
        font-weight: 500;
        margin-left: 3.5rem;
        transition: .3s;
        font-size: 18px;
    }

    .login-box {
        position: relative;
        width: 400px;
        height: 450px;
        border: 2px solid rgba(255, 255, 255, .5);
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(15px);
    }
}

/* Mobile */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .logo {
        position: relative;
        font-size: 2.5rem;
        color: var(--text-color);
        font-weight: 600;
    }

    .navbar a {
        font-size: 1.7rem;
        color: var(--text-color);
        font-weight: 500;
        margin-left: 3.5rem;
        transition: .3s;
        font-size: 18px;
    }

    .login-box {
        position: relative;
        width: 400px;
        height: 450px;
        border: 2px solid rgba(255, 255, 255, .5);
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(15px);
    }
}

@media only screen and (max-width: 479px) {
    .logo {
        position: relative;
        font-size: 2rem;
        color: var(--text-color);
        font-weight: 600;
    }

    .navbar a {
        font-size: 1rem;
        color: var(--text-color);
        font-weight: 500;
        margin-left: 3.5rem;
        transition: .3s;
        font-size: 18px;
    }

    .login-box {
        position: relative;
        width: 350px;
        height: 400px;
        border: 2px solid rgba(255, 255, 255, .5);
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(15px);
        margin-top: 40%;
    }
}

/* Extra Small Mobile */
@media only screen and (max-width: 320px) {
    .logo {
        position: relative;
        font-size: 1.7rem;
        color: var(--text-color);
        font-weight: 600;
    }

    .navbar a {
        font-size: 1rem;
        color: var(--text-color);
        font-weight: 450;
        margin-left: 3.7rem;
        transition: .3s;
        font-size: 15px;
    }

    .login-box {
        position: relative;
        width: 315px;
        height: 370px;
        border: 2px solid rgba(255, 255, 255, .5);
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(15px);
    }

    .input-box {
        position: relative;
        width: 300px;
        margin: 30px 0;
        border-bottom: 2px solid #fff;
    }
    
    .input-box .icon {
        position: absolute;
        right: 8px;
        color: #fff;
        font-size: 1.2em;
        line-height: 57px;
    }
}