:root {
    --primary : linear-gradient(to bottom right, #0a0057, #3f00ee);
    --secondary : gold;
    --text : #fff;
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}


body {
    background: var(--bg-color);
    color: var(--text-color);
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}

.header.sticky {
    background: var(--bg-color);
}

.logo {
    position: relative;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.navbar {
    position: relative;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
    font-size: 18px;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

.UIbtn {
    display: inline-block;
    width: 11.5rem;
    cursor: pointer;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    background: var(--second-bg-color);
    border: .2rem solid var(--bg-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.UIbtn a {
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    align-items: center;
    text-align: center;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
}

.UIbtn:nth-child(2) {
    background: transparent;
    color: var(--main-color);
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}
    
.UIbtn a::before {
    background: var(--second-bg-color);
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}

#menu-icon {
    position: relative;
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: var(--second-bg-color);
    font-family: sans-serif;
    color: var(--text);
    display: flex;
    align-items: center;
}

.container {
    width: 100vw;
    display: grid;
    grid-template-columns: 1.8fr 1.2fr;
    gap: 1rem;
    padding: .5rem 1rem;
    text-transform: capitalize;
}

@media screen and (max-width: 990px) {
    .container {
        grid-template-columns: 1.8fr;
    }
}

.main-video, .video-playlist, .main-video-container {
    width: 100%;
    height: 30rem;
}

.main-video .title {
    margin-top: 2.5rem;
}

.video-playlist .title {
    padding-left: 1rem;
}

.video-playlist p {
    padding: 2rem;
    color: var(--secondary);
}

.video-playlist .videos{
    height: 70%;
    overflow-y: auto;
}

.video-playlist .videos::-webkit-scrollbar {
    width: .4rem;
    border-radius: .4rem;
    background-color: #0005;
}

.video-playlist .videos::-webkit-scrollbar-thumb {
    border-radius: .4rem;
    background-color: #fff;
}

.video-playlist .videos .video {
    position: relative;
    width: 100%;
    height: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 1rem;
    margin-top: .1rem;
    cursor: pointer;

    border-radius: .5rem;
}

.video-playlist .videos .video:hover {
    background-color: #0003;
}

.video-playlist .videos .video.active {
    background-color: #0003;
    color: var(--secondary);
}

.main-video-container {
    width: 100%; /* or a specific width, e.g., 800px */
    height: 100%; /* or a specific height, e.g., 450px */
    padding: 2rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-video-container iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0.5rem;
}

.main-video iframe {
    width: 100%;
    height: 410px;
    border: none;
    border-radius: 0.5rem;
}

.video img {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.5rem;
    height: 1.5rem;
    filter: invert(100%);
}

.video-playlist .videos .video.active img {
    filter: invert(100%) sepia(100%) saturate(2000%) hue-rotate(360deg);
}
.video p {
    margin-left: 0.6rem;
 }

.video h3 {
    width: 23rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font: 100 1rem sans-serif;
    padding: 0 .5rem;
}


/* Desktop */
@media only screen and (min-width: 1200px) {
    .container {
        width: 100vw;
        display: grid;
        grid-template-columns: 1.5fr 0.9fr;
        gap: 1rem;
        padding: .5rem 1rem;
        text-transform: capitalize;
    }
    .video-playlist .videos::-webkit-scrollbar {
        width: .4rem;
        border-radius: .4rem;
        background-color: #0005;
    }
    .container {
        width: 100vw;
        display: grid;
        grid-template-columns: 1.8fr 1.2fr;
        gap: 1rem;
        padding: .5rem 1rem;
        text-transform: capitalize;
    }
}

@media only screen and (max-width: 1199px) {
    .container {
        width: 100vw;
        display: grid;
        grid-template-columns: 1.5fr 0.9fr;
        gap: 1rem;
        padding: .5rem 1rem;
        text-transform: capitalize;
    }
    .video-playlist .videos::-webkit-scrollbar {
        width: .4rem;
        border-radius: .4rem;
        background-color: #0005;
    }
    .container {
        width: 100vw;
        display: grid;
        grid-template-columns: 1.8fr 1.2fr;
        gap: 1rem;
        padding: .5rem 1rem;
        text-transform: capitalize;
    }
}

/* Laptop */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .container {
        width: 100vw;
        display: grid;
        grid-template-columns: 1.5fr 0.9fr;
        gap: 1rem;
        padding: .5rem 1rem;
        text-transform: capitalize;
    }
    .video-playlist .videos::-webkit-scrollbar {
        width: .4rem;
        border-radius: .4rem;
        background-color: #0005;
    }
    .container {
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: .5rem 1rem;
        text-transform: capitalize;
    }
}

@media only screen and (max-width: 991px) {
    .container {
        width: 100vw;
        display: grid;
        grid-template-columns: 1.8fr 1.2fr;
        gap: 1rem;
        padding: .5rem 1rem;
        text-transform: capitalize;
    }
    .video-playlist .videos::-webkit-scrollbar {
        width: .4rem;
        border-radius: .4rem;
        background-color: #0005;
    }
    .container {
        width: 100vw;
        display: grid;
        grid-template-columns: 1.8fr 1.2fr;
        gap: 1rem;
        padding: .5rem 1rem;
        text-transform: capitalize;
    }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .video-playlist .videos::-webkit-scrollbar {
        width: .4rem;
        border-radius: .4rem;
        background-color: #0005;
    }
    .container {
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: .5rem 1rem;
        text-transform: capitalize;
    }
}

@media only screen and (max-width: 767px) {
    .container {
        width: 100vw;
        display: grid;
        grid-template-columns: 1.8fr 1.2fr;
        gap: 1rem;
        padding: .5rem 1rem;
        text-transform: capitalize;
    }
    .video-playlist .videos::-webkit-scrollbar {
        width: .4rem;
        border-radius: .4rem;
        background-color: #0005;
    }
    .container {
        width: 100vw;
        display: grid;
        grid-template-columns: 1.8fr 1.2fr;
        gap: 1rem;
        padding: .5rem 1rem;
        text-transform: capitalize;
    }
}

/* Mobile */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .video-playlist .videos::-webkit-scrollbar {
        width: .4rem;
        border-radius: .4rem;
        background-color: #0005;
    }
    .container {
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: .5rem 1rem;
        text-transform: capitalize;
    }
}

@media only screen and (max-width: 479px) {
    .video-playlist .videos::-webkit-scrollbar {
        width: .1rem;
        border-radius: .1rem;
        background-color: #0005;
    }
    .container {
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: .5rem 1rem;
        text-transform: capitalize;
    }
    .video h3 {
        width: 15rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    
        font: 100 1rem sans-serif;
        padding: 0 .5rem;
    }

}

/* Extra Small Mobile */
@media only screen and (max-width: 320px) {
    .container {
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: .5rem 0rem;
        text-transform: capitalize;
    }
    .video h3 {
        width: 12rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    
        font: 100 1rem sans-serif;
        padding: 0 .5rem;
    }
    .video-playlist .videos::-webkit-scrollbar {
        width: .1rem;
        border-radius: .1rem;
        background-color: #0005;
    }
}

.video .links {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
